@page
@model IAB251_Assignment_2_Project_Final.Pages.CustomerDashboardModel
@{
}

<div class="pill-box">
    <h1>
        Welcome @Model.customerName to Your Dashboard
    </h1>
</div>

<div class="pill-box">
    <h3 style="text-align: center">
        Current Quotations
    </h3>

    <div>
        Quotation 1:
    </div>

    <br />

    <div>
        Quotation 2:
    </div>
</div>

<form method="post">
    <div class="pill-box">
        <div style="text-align: center">
            <button type="submit" class="btn btn-primary">Create New Quotation Request</button>
        </div>
    </div>
  
</form>


