@page
@model IAB251_Assignment_2_Project_Final.Pages.DashboardModel
@{
}

<div class="pill-box">
    <h3>Customer List</h3>
    <ul>
        @if (Model.Customers.Count == 0){
        <li>No Customers Active</li>
        }

        <li>Hello @Model.cus.first_Name..</li>
        
    </ul>
</div>