@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1 style="text-align: center">
    Welcome to Interport Cargo Services
</h1>

<form style="align-content: center" asp-page="/Testing">
    <label for="usernameInput"> Username </label>
    <input type="text" id="usernameInput" name="usernameInput" placeholder="Enter Username" required>
    <label for="passwordInput"> Username </label>
    <input type="text" id="passwordInput" name="passwordInput" placeholder="Enter Password" required>
    <button type="submit"> Login </button>

</form>

<br />


<form style="align-content: center" asp-page="/RegisterDetails">
    <button type="submit"> Sign Up </button>
</form>



