@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    ViewData["ShowNavbar"] = false;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>

   
</head>
<body>

    <!-- Main Content Area -->
    <div class="main-content">
        <div class="hero-image1">
            <div class="hero-text">
                <h1>Welcome to Interport Cargo Services</h1>
                <h4>Sign In or Sign Up</h4>

                <div>
                    <form method="get" asp-page="/CustomerSignIn">
                        <button type="submit" class="btn btn-primary btn-lg mb-3" style="width: 200px;">Customer</button>
                    </form>
                    <form method="get" asp-page="/employeeSignIn">
                        <button type="submit" class="btn btn-secondary btn-lg mb-3" style="width: 200px;">Employee</button>
                    </form>
                    <form method="get" asp-page="/SignUpChoice">
                        <button type="submit" class="btn btn-success btn-lg" style="width: 200px;">Sign up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>



</body>
</html>
