@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1 style="text-align: center">
    Welcome to Interport Cargo Services
</h1>


<form style="align-content: center" asp-page="/Testing">
    <button type="submit"> Login </button>
</form>

<br />


<form style="align-content: center" asp-page="/RegisterDetails">
    <button type="submit"> Sign Up </button>
</form>



