@page
@model QuotationRequest
@{
    ViewData["Title"] = "Quotation Request";
    ViewData["ShowNavbar"] = false;
}

<h1 style="text-align: center">
    Quotation Request
</h1>
<div class="header-container">
    <form method="post" asp-page-handler="Back">
        <button type="submit" class="btn btn-secondary">Back</button>
    </form>



<form method="post" asp-page-handler="Logout">
    <button type="Logout" name="Logout" class="btn btn-primary">Logout</button>
</form>
    </div>

<div>
    <label for="requestID">Request ID: @Model.requestID</label>
</div>


<div class="pill-box">
    <form method="post">
        <div>
            <label for="customerInfo">Enter Customer Information:</label>
            <input type="text" asp-for="customerInfo" class="form-control" />
        </div>

        <div>
            <label for="source">Enter Source Address:</label>
            <input type="text" asp-for="source" class="form-control" />
        </div>

        <div>
            <label for="destination">Enter Destination Address:</label>
            <input type="text" asp-for="destination" class="form-control" />
        </div>

        <div>
            <label for="numContainers">Enter Number of Containers:</label>
            <input type="text" asp-for="numContainers" class="form-control" />
        </div>

        <div>
            <label for="packageNature">Enter Nature of Package:</label>
            <input type="text" asp-for="packageNature" class="form-control" />
        </div>

        <br />

        <div class="pill-box">
            <label for="isImport" style="text-align: center">Import or Export:</label>
            <br />
            <div>
                <input type="radio" asp-for="isImport" id="importing" value="True" />
                <label for="importing"> Import</label><br />
            </div>
            <div>
                <input type="radio" asp-for="isImport" id="exporting" value="False" />
                <label for="importing"> Export</label>
            </div>
        </div>

        <br />

        <div class="pill-box">
            <label for="isPacking" style="text-align: center">Packing or Unpacking:</label>
            <br />
            <div>
                <input type="radio" asp-for="isPacking" id="packing" value="True" />
                <label for="packing"> Pack</label><br />
            </div>
            <div>
                <input type="radio" asp-for="isPacking" id="unpacking" value="False" />
                <label for="unpacking"> Unpack</label>
            </div>
        </div>

        <div>
            <label for="quarantineReq">Enter Quarantine Requirements:</label>
            <input type="text" asp-for="quarantineReq" class="form-control" />
        </div>


        <br />

        <div style="text-align: center">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>

    </form>
</div>


