@page
@model QuotationRequest
@{
    ViewData["Title"] = "Quotation Request";
}

<h1 style="text-align: center">
    Quotation Request
</h1>

<div class="pill-box">
    <form method="post">
        <div>
            <label for="requestID">Enter Request ID:</label>
            <input type="text" asp-for="requestID" class="form-control" />
        </div>

        <div>
            <label for="customerInfo">Enter Customer Information:</label>
            <input type="text" asp-for="customerInfo" class="form-control" />
        </div>

        <div>
            <label for="source">Enter Source Address:</label>
            <input type="text" asp-for="source" class="form-control" />
        </div>

        <div>
            <label for="destination">Enter Destination Address:</label>
            <input type="text" asp-for="destination" class="form-control" />
        </div>

        <div>
            <label for="numContainers">Enter Number of Containers:</label>
            <input type="text" asp-for="numContainers" class="form-control" />
        </div>

        <div>
            <label for="packageNature">Enter Nature of Package:</label>
            <input type="text" asp-for="packageNature" class="form-control" />
        </div>

        <div>
            <label for="jobNature">Enter Nature of Job:</label>
            <input type="text" asp-for="jobNature" class="form-control" />
        </div>

        <br />

        <div style="text-align: center">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>

    </form>
</div>


