@page
@model IAB251_Assignment_2_Project_Final.Pages.RatesScheduleModel
@{
}
<form method="post">
    <button type="submit" value="Back" name="Back" class="btn btn-secondary">Back</button>
</form>


<form method="post">
    <button type="submit" value="Logout" name="Logout" class="btn btn-primary">Logout</button>
</form>
<h1>
    Welcome NAME to Rates Schedule
</h1>

<table>
    <tr>
        <td>Type</td>
        <td>20 Feet Container</td>
        <td>40 Feet Container</td>
    </tr>
    <tr>
        <td>Walf Booking Fee</td>
        <td>Lift On/Lift Off</td>
        <td>Fumigation</td>
        <td>LCL Delivery Depot</td>
        <td>Tailgate Inspection</td>
        <td>Storage Fee</td>
        <td>Facility Fee</td>
        <td>Walf Inspection</td>
        <td>GST</td>
    </tr>
</table>