@page
@model IAB251_Assignment_2_Project_Final.Models.RegistrationModel
@{
    ViewData["Title"] = "Register Details";
}

<h1 style="text-align: center">
    Register Details
</h1>


<form method="post">
    <div>
        <label for="inputFirst">Enter First Name:</label>
        <input type="text" id="inputFirst" name="inputFirst" />
    </div>

    <div>
        <label for="inputLast">Enter Last Name:</label>
        <input type="text" id="inputLast" name="inputLast" />
    </div>

    <div>
        <label for="inputEmail">Enter Email Address:</label>
        <input type="text" id="inputEmail" name="inputEmail" />
    </div>

    <div>
        <label for="inputPhone">Enter Phone Number:</label>
        <input type="tel" id="inputPhone" name="inputPhone" />
    </div>

    <div>
        <label for="inputCompany">Enter Company Name:</label>
        <input type="text" id="inputCompany" name="inputCompany" />
    </div>

    <div>
        <label for="inputAddress">Enter Address:</label>
        <input type="text" id="inputAddress" name="inputAddress" />
    </div>

    <div>
        <label for="inputPassword">Enter Password:</label>
        <input type="password" id="inputPassword" name="inputPassword" />
    </div>


    <button type="submit">Submit</button>


</form>




