@page
@model IAB251_Assignment_2_Project_Final.Pages.SignUpChoiceModel
@{
    ViewData["Title"] = "Sign Up Options";
    ViewData["ShowNavbar"] = false;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="hero-image3">
        <div class="header-container">
            <form method="post">
                <button type="submit" value="Back" name="Back" class="btn btn-secondary">Back</button>
            </form>

        </div>

        <div class="center-container">
            <div class="signup-container pill-box">
                <h1>Sign In Portal</h1>
                <div class="button-group">
                    <form method="get" asp-page="/SignUp">
                        <button type="submit" class="btn btn-primary">Sign Up as a Customer</button>
                    </form>
                    <form method="get" asp-page="/SignUpEmployee">
                        <button type="submit" class="btn btn-primary">Sign Up as an Employee</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
